/*GLOBALES*/

* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html { /* etiqueta raíz */
        font-size: 62.5%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
     }

h1{
    font-size: 6rem;
    text-align: left;
}
h2{
    font-size: 4rem;
    text-align: center;
}
h3, h4, h5 {
    font-size: 2rem;
}

p{
    font-size: 2rem;
    
}

th, td{
    text-align: center;
    
}
tr{
    font-size: 3rem;
}

body{
  margin: 1rem 2rem 1rem 2rem;
}

@media(max-width: 768px){
    body {margin: 0rem;}
}


.navbar{
    font-size: 2rem;

}
.header{
    position: sticky;
    top: 0px;
 
}


/********************************************************Fin de globales***************************************************************/



 /****************************************************************index**********************************************************************/

 .section__h1{
    height: 60vh;
    background-image: url(../imagenes/descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    margin-top: 5px;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;

}
.formulario__index{
    width: 50rem;
    height: 14rem;
    padding-left: 1rem;
    border-radius: 5%;
    margin-top: 8rem;
    margin-left: 3rem;
    background-color: rgba(26, 89, 97, 0.418);
    color: white;
    border-color: black solid 1rem;
}

 .section__titulo{
    color: white;
    font-size: 6rem;
    text-align:center;
}

@media (max-width: 768px){
    .section__titulo{
        font-size: 5rem;
        text-align: center;
    }
    .section__h1{
        width: auto;
    }
    .formulario{
        display:inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
      margin: 0%;
      padding-top: 2rem;
      justify-content:center;
      margin-top: 5rem;
      margin-left: 1rem;

    }
    .section__fieldset{
        width: 10rem;
        height: 10rem;
 
    }
   
}
   




  /*grid*/

 .grid{
    margin-top: 5rem;
    margin-left: 5rem;
    display: grid;
    grid-template-columns:400px 250px 400px;
    grid-template-rows: 380px 250px;
    
    justify-content: center;
}
.one__grid{
    
    color: white;
    background-color: rgb(216, 128, 128);
   grid-row: 1/3;
   text-align: center;
   padding-top: 25rem;
   }


.two__grid{
    color: white;
    background-color: rgb(127, 230, 132);
    grid-column: 2/4;
    text-align: center;
   
}
.three__grid{
    color: white;
    background-color: rgb(182, 109, 224);
    text-align: center;
    padding-top:2rem;
   
}
.four__grid{
    color: white;
    background-color: rgb(147, 245, 168);
    text-align: center;
    padding-top: 8rem;
   
}
.grid__texto{
    font-family:cursive;
    font-size: 3rem;
    
    display:inline;
}


.cuerpo{

    margin: 3rem 1rem 1rem 1rem;  
    
}

.cuerpo__texto{
    text-align: justify;
    padding: 1rem;
    
}


.cuerpo__eleon{
   float: left;
   margin: 1rem;
   padding: 1rem;
}

.cuerpo__eleon:hover{
   transform: rotate3d(1, 2.0, 3.0, 10deg);
}

@media (max-width: 768px){
.grid{
    display: inline-block;
    margin: 0rem;
}
.one__grid{
    padding-top: 2rem;
}
}

/****************************************Formulario***************************************/
.form-label{
    font-size: 2rem;
}
button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .boton  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
   }
   
   .boton:before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
   }
   
   button:hover {
    color: white;
   }
   
   button:active span::before {
    background: #2751cd;
   }
/**************************************************nosotros*********************************************************************/


.nosotros__grid{
    margin-top: 2rem;
   
    justify-content: center;
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    grid-template-rows: 30rem  30rem 30rem 30rem;
   
    
    grid-template-areas:"fotografost fotografosi diseñadorest"
                         "rrhhi      rrhht        diseñadoresi" 
                        "marketingt   marketingi  accionistast"
                          "editoresi  editorest   accionistasi" ;
    
}

.grid__texto{
    font-size: 3rem;
   height: 30rem;
   width: 30rem;
  
       
}

.grid__imagen{
width: 28rem;
height: 28rem;

}

.fotografost{
    background-color: #c3ccde;
    text-align: center;
    grid-area: fotografost;
    border-left: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}

.fotografosi{
    width: 30rem;
    height: 30rem;
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: fotografosi;
    border-right: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
    background-color: #c3ccde;
}
.diseñadorest{
background-color: #dec3cf;
grid-area: diseñadorest;
text-align: center;
border-left: solid 0.5rem black;
border-top: solid 0.5rem black;
border-right: solid 0.5rem black;

}
.diseñadoresi{
    width: 30rem;
    height: 30rem; 
    background-color: #dec3cf;  
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: diseñadoresi;
    border-left: solid 0.5rem black;
border-bottom: solid 0.5rem black;
border-right: solid 0.5rem black;
}
.rrhhi{
    width: 30rem;
    height: 30rem; 
    background-color: #d1c3de; 
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: rrhhi;
    border-left: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}
.rrhht{
background-color: #d1c3de;
grid-area: rrhht;
text-align: center;
border-right: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}

.marketingi{
    width: 30rem;
    height: 30rem;
    background-color: 
    #c3dec4 ;
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: marketingi;
    border-right: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}
.marketingt{
background-color: 
#c3dec4;
grid-area: marketingt;
text-align: center;
border-left: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}
.accionistasi{
    width: 30rem;
    height: 30rem;
    background-color: rgb(174, 198, 219);
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: accionistasi;
    border-left: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
    border-right: solid 0.5rem black;
}
.accionistast{
background-color: rgb(174, 198, 219);
grid-area: accionistast;
text-align: center;
border-left: solid 0.5rem black;
    border-right: solid 0.5rem black;
    border-top: solid 0.5rem black;
}

.editoresi{
    width: 30rem;
    height: 30rem;
    background-color: #ded8c3;
    padding-top: 0.8rem;
    padding-left: 1rem;
    grid-area: editoresi;
    border-left: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}
.editorest{
    background-color: #ded8c3;
    grid-area: editorest;
    text-align: center;
    border-right: solid 0.5rem black;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
}

@media (max-width:768px){
    .nosotros__grid{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
      
    }
    .editorest{
        width: auto;
        border: none;
    }
    .editoresi{
        border: none;
    }
    .rrhht{
        width: auto;
        border: none;
      
    }
    .rrhhi{
        border: none;
    }
    .marketingt{
        width: auto;
        border: none;
    }
    .marketingi{
        border: none;
    }

    .accionistast{
        width: auto;
        border: none;
    }
    .accionistasi{
        border: none;
    }
    .diseñadorest{
        width: auto;
        border: none;
    }
    .diseñadoresi{
        border: none;
    }
    .fotografost{
        width: auto;
        border: none;
    }
    .fotografosi{
        border: none;
    }
   
}

/****************************************************pagina destinos*************************************/
.box__imagen{
    background-image: url(../imagenes/pexels-alexandr-podvalny-1008155.jpg);
    height: 600px;
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
 margin-bottom:50px;

}

 .texto__randon{
    padding: 2rem;
    justify-content: center;
    
    }

    @media(max-width: 768px){

    }
  .cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      
  }
 
/*************************************mas buscados**********************************************/

.titulo__casas{
    text-align: center;
    font-size: 8rem;
    margin-top: 1rem;
    font-family:cursive;
    
}
.flex{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
 
    
}
.Flex__descripcion{
font-size: 2rem;
font-style: italic;
color: white;
width: 90%;

margin-left: 1.2rem;

}



.flex__recuadro{
    
    background-color: black;
    padding: 1rem;
    
    height: 4rem;
    margin: auto;
    justify-content: center;
    padding: 0%;
    
}

.container__flex{
    
text-align: center;
margin:1rem;

overflow:clip;
background-color:rgb(241, 246, 250);

}


.flex__casa{

height: 30rem;
width: 30rem;
transition:1s;
}
.flex__casa:hover{
height: 50rem;
width: 50rem;
}
.texto__img{
border: 1rem double black;
}





/***************************************footer****************************************/
.footer{
    text-align: center;
    font-size: 1.5rem;
    background-color: #03ba8f;
    margin-bottom: 3rem;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
      
    
}
